<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--引用hibernate配置-->
    <import resource="hibernateApplication.xml"/>
    <!--Login web层-->
    <bean id="LoginAction" class="top.wdsama.web.LoginAction" scope="prototype">
            <property name="loginService" ref="LoginService"/>
    </bean>
    <!--Login Service层-->
    <bean id="LoginService" class="top.wdsama.service.impl.LoginServiceImpl">
        <property name="userDao" ref="UserDao"/>
    </bean>
    <!--用户Dao-->
    <bean id="UserDao" class="top.wdsama.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--分类Action-->
    <bean id="CategoryAction" class="top.wdsama.web.CategoryAction" scope="prototype">
        <property name="categoryService" ref="CategoryService"/>
    </bean>
    <!--分类Service-->
    <bean id="CategoryService" class="top.wdsama.service.impl.CategoryServiceImpl">
        <property name="categoryDao" ref="CategoryDao"/>
    </bean>
    <!--分类Dao-->
    <bean id="CategoryDao" class="top.wdsama.dao.impl.CategoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--文章Action-->
    <bean id="ArticleAction" class="top.wdsama.web.ArticleAction" scope="prototype">
         <property name="articleService" ref="ArticleService"/>
    </bean>
    <!--文章Service-->
    <bean id="ArticleService" class="top.wdsama.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="ArticleDao"/>
    </bean>
    <!--文章Dao-->
    <bean id="ArticleDao" class="top.wdsama.dao.impl.ArticleDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>